<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<a href="{% url 'booktest:index' %}">首页</a>
<a href="{% url 'booktest:index' 1 %}">首页</a>
<a href="{% url 'booktest:index' num=2 %}">首页</a>
<br><br>
<form method="post" action="/login_form_check">
    {% csrf_token %}
    用户名：<input type="text" name="username" autocomplete="off"><br>
    密码：<input type="password" name="password" autocomplete="off"><br>
    验证码：<input type="text" name="yzm">
    <img src="/verify_code" alt="">
    <a href="/login_form">重新获取验证码</a>
    <br>
    <button type="submit">登录</button>
</form>
</body>
</html>